{% extends 'base.html' %}
{% block title %}
  Create Folder |
{% endblock %}
{% block content %}
  <h1>Create Folder</h1>
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_table }}
      <button type="submit" class="btn btn-dark">Create</button>
    </form>
  {% else %}
    <p>You must login first.</p>
    <p>
      <a href="login">Login</a>
    </p>
    <p>
      <a href="signup">Sign up</a>
    </p>
  {% endif %}

  <p>
    <a href="{% url 'gallery:index' %}">Go back to main page</a>
  </p>
{% endblock %}
