{% extends 'base.html' %}
{% block title %}
{{ username }} |
{% endblock %}
{% block content %}
<div class="col-md-12">
	<h1>{{ username }}</h1>
	{% if user == username %}
	<div class="grid test-left">
		<div class="col">
			<a href="{% url 'gallery:image_upload' %}"><button class="btn btn-dark">Upload more images</button></a>
			<a href="{% url 'gallery:create_folder' %}"><button class="btn btn-dark">Create Folder</button></a>
		</div>
		{% endif %}
		<h3>Folders:</h3>
	</div>
	{% for folder in folder_list %}
	<div class="row mb-4">
		<div class="col">
			<a href="{% url 'gallery:folder' folder.id %}">
				{{ folder.title }}
			</a>
		</div>
	</div>
	{% empty %}
	<p>User has no folders
	<p>
		{% endfor %}
</div>

{% endblock %}